{% extends "locations/base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block extra-head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <style>
    .leaflet-container {  /* all maps */
      height: 600px;
      margin-bottom: 20px;
    }
  </style>
{% endblock extra-head %}

{% block content %}
  <div class="row">
    <div class="col" style="margin-bottom: 20px">
      <div class="card" id="dialog-box">
        {% block dialog-box %}
          {% include "locations/htmx/base_list.html" %}
        {% endblock dialog-box %}
      </div>
    </div>
    <script src="{% static 'locations/js/base_list.js'%}"></script>
    <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
      {% leaflet_map "mymap" callback="window.map_init" %}
    </div>
  </div>
{% endblock content %}
