{% extends "locations/base.html" %}
{% load static %}

{% block extra-head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
{% endblock extra-head %}

{% block content %}
  <div class="row">
    <div class="col" style="margin-bottom: 20px">
      <div class="card" id="hypermedia">
        {% block hypermedia %}
          {% include "locations/htmx/location_list.html" %}
        {% endblock hypermedia %}
      </div>
    </div>
    <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
      <div id="swap_map" style="height: 600px; margin-bottom: 20px"></div>
      <script src="{% static 'locations/js/map_script.js'%}"></script>
    </div>
  </div>
{% endblock content %}
