{% load i18n %}
{% load geojson_tags %}

<div class="card-header">
  <h4 class="card-title">{% trans "Location"%}: {{ object.title }}</h4>
</div>
<div class="card-body">
  <p class="card-text">{{ object.description }}</p>
  <ul>
    {% if user.is_authenticated %}
      <li>
        <a class="link link-primary"
           hx-get="{% url 'locations:location_update' pk=object.id %}"
           hx-target="#hypermedia"
           hx-push-url="true">
          {% trans "Update location" %}
        </a>
      </li>
      <li>
        <a class="link link-danger"
           hx-get="{% url 'locations:location_delete' pk=object.id %}"
           hx-target="#hypermedia"
           hx-confirm="{% trans 'Are you sure you want to delete this location?' %}">
          {% trans "Delete location" %}
        </a>
      </li>
    {% endif %}
    <li>
      <a class="link link-primary"
         hx-get="{% url 'locations:location_list' %}"
         hx-target="#hypermedia"
         hx-push-url="true">
        {% trans "Back to list" %}
      </a>
    </li>
  </ul>
</div>
<script id="marker_data" type="application/json">{{ object|geojsonfeature:"popupContent"|safe }}</script>
{{ map_status|json_script:"map_status" }}
